body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url("./assets/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.App {
    width: 100vw;
    height: 100vh;
    position: relative;
}